.title-general {
    margin: 0;
    font-size: 32px;
    font-family: "Open Sans";
    font-weight: bold;
    line-height: 27px;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
    color: $tundora;
}
.view-header {
    h1 {
        margin: 0;
        font-size: 32px;
        font-family: "Open Sans";
        font-weight: bold;
        line-height: 27px;
        border-bottom: 1px solid #dddddd;
        padding-bottom: 20px;
        margin-bottom: 20px;
        color: #434343;
    }
}
.sidebar_first {
    .block {
        background: #f1f1f1;
        padding: 20px;
        border: 0 !important;
        .content {
            .view {
                .row {
                    flex-direction: column;
                    a[href$="/faq/pedido"] {
                        &::before {
                            border-left: 9px solid $azure-radiance;
                        }
                    }
                }
            }
        }
    }
}
.content-dashboard-user-menu {
    .dashboard-user-menu {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    h4 {
        font-family: "Open Sans";
        font-weight: bold;
        color: #434343;
        font-size: 16px;
        display: flex;
        border: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        padding: 10px 0px 10px 50px;
        position: relative;
        &::before {
            content: "";
            width: 37px;
            height: 37px;
            position: absolute;
            left: 0;
            top: 0;
            background-color: #fff;
            background-image: url(../images/icon-user.png);
            border-radius: 50%;
            background-size: 18px;
            background-repeat: no-repeat;
            background-position: center 8px;
        }
    }
    a {
        font-family: "Open Sans";
        font-weight: 600;
        color: #434343;
        font-size: 14px;
        text-decoration: none;
        display: flex;
        padding: 10px 0px 10px 50px;
        align-items: center;
        position: relative;
        &:hover {
            opacity: 0.5;
        }
        &::before {
            content: "";
            height: 0;
            border-left: 11px solid #c9c9c9;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            width: 23px;
            margin-left: 5px;
            position: absolute;
            left: 10px;
        }
    }
}
/** Menu left faq **/
.sidebar_first {
    flex: 0 0 25%;
    max-width: 25%;
    .menu-left {
        h2 {
            font-family: "Open Sans";
            font-weight: 600;
            color: #434343;
            font-size: 16px;
            display: flex;
            border: 0;
            padding-bottom: 0;
            margin-bottom: 0;
            padding: 10px 0px 10px 50px;
            position: relative;
            &::before {
                content: "i";
                color: #c1c1c1;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                border: 2px solid #c1c1c1;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 7px;
                font-family: "Open Sans";
                font-size: 11px;
                margin-right: 6px;
                font-weight: bold;
                position: absolute;
                left: 11px;
            }
        }
        h3 {
            font-family: "Open Sans";
            font-weight: 600;
            color: #434343;
            font-size: 16px;
            display: flex;
            border: 0;
            padding-bottom: 0;
            margin-bottom: 0;
            padding: 10px 0px 10px 50px;
            position: relative;
        }
        a {
            font-family: "Open Sans";
            font-weight: 600;
            color: #434343;
            font-size: 16px;
            text-decoration: none;
            display: flex;
            padding: 10px 0px 10px 50px;
            align-items: center;
            position: relative;
            &:hover {
                opacity: 0.5;
            }
            &::before {
                content: "";
                height: 0;
                border-left: 11px solid #c9c9c9;
                border-top: 6px solid transparent;
                border-bottom: 6px solid transparent;
                width: 23px;
                margin-left: 5px;
                position: absolute;
                left: 10px;
            }
        }
        .user-count {
            &::before {
                content: "";
                width: 37px;
                height: 37px;
                position: absolute;
                left: 0;
                top: 0;
                background-color: #fff;
                background-image: url(../images/icon-user.png);
                border-radius: 50%;
                background-size: 18px;
                background-repeat: no-repeat;
                background-position: center 8px;
            }
        }
        .active {
            &::before {
                border-left-color: #0090ff;
            }
        }
    }
}
/*** Menu contacto ***/
.menu-left-contact {
        h2 {
            font-family: "Open Sans";
            font-weight: 600;
            color: #434343;
            font-size: 16px !important;
            display: flex;
            padding-bottom: 0 !important;
            margin-bottom: 20px !important;
            padding: 10px 0px 10px 50px;
            position: relative;
            border: 0 !important;
            &::before {
                content: "i";
                color: #c1c1c1;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                border: 2px solid #c1c1c1;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 7px;
                font-family: "Open Sans";
                font-size: 11px;
                margin-right: 6px;
                font-weight: bold;
                position: absolute;
                left: 11px;
            }
         
        }
        p {
            font-family: "Open Sans";
            font-weight: 600;
            color: #434343;
            font-size: 16px;
            text-decoration: none;
            display: flex;
            padding: 0px 0px 0px 50px;
            align-items: center;
            position: relative;
            margin: 0;
            b {
                font-weight: bold;
                &::before {
                    content: "";
                    height: 0;
                    border-left: 11px solid #c9c9c9;
                    border-top: 6px solid transparent;
                    border-bottom: 6px solid transparent;
                    width: 23px;
                    margin-left: 5px;
                    position: absolute;
                    left: 10px; 
                    top: 5px;
                }
            }
        }
        
}
.not-found {
    background: white;
    margin: 20px -15px 0px -15px;
    position: relative;
    top: 20px;
    display: block;
    a {
        text-decoration: none;
        &:hover {
            opacity: 0.7;
        }
    }
    h3 {
    position: relative;
    font-family: "Open Sans";
    font-weight: 600;
    color: #434343;
    font-size: 17px;
    display: flex;
    border: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    padding: 35px 0px 20px 43px;
    position: relative;       
        &::before {
            content: "?";
            color: #c1c1c1;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 2px solid #c1c1c1;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 7px;
            font-family: "Open Sans";
            font-size: 11px;
            margin-right: 6px;
            font-weight: bold;
            position: absolute;
            left: 11px;
        }
        
    }
}
.wrapper-flex-not {
    display: flex;
    justify-content: space-between;
    > div {
        background-color: #f1f1f1;
        width: 50%;
        margin: 5px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 15px;
    }
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 14px;
        font-weight: bold;
        font-family: "Open Sans";
        color: #434343;
        padding: 0px 10px;
        i {
            font-size: 29px;
            margin: 14px 0px 12px 0px;
        }
    }
}
.block-ie-menus-title-block {
    .content {
        > div {
            margin-bottom: 30px;
            margin-top: 30px;
            border-bottom: 1px solid #0090ff;
            padding-bottom: 25px;
            display: flex;
            align-items: center;
            h1 {
                font-size: 40px;
                font-family: "Raleway";
                font-weight: 300;
                color: #707070;
                margin: 0;
                border: 0;
                padding: 0;
            }
            a {
                color: #000;
                background-color: #fdb812;
                line-height: 17px;
                font-family: "Raleway";
                font-weight: 600;
                border-radius: 25px;
                padding: 5px 10px;
                font-size: 15px;
                width: 180px;
                text-align: center;
                display: flex;
                align-items: center;
                margin-right: 27px;
                &:hover {
                    background-color: #fdb812ab;
                }
                .icon {
                    width: 32px;
                    height: 32px;
                    background-color: #fff;
                    border-radius: 50%;
                    box-shadow: 0px 1px 6px #00000078;
                    margin-left: 15px;
                    flex-shrink: 0;
                    padding: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-image: url("../images/logo-3d.png");
                    background-repeat: no-repeat;
                    background-size: 24px;
                    background-position: center 9px;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .block-ie-menus-title-block {
        .content > div {
            h1 {
                font-size: 22px;
                line-height: 30px;
            }
        }
    }
    .sidebar_first {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
